.buttons {
  padding: 1rem;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  border-radius: 0.75rem;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.buttons:hover {
  background: #232323;
}
